.heading {
    float: top;
    width: 100%;
    background-color: aliceblue;
}

.heading h1 {
    margin: 10px;
    margin-left: 20px ;
}

.heading nav {
    list-style-type: none;
    justify-content: right;
    align-items: right;
}

.heading nav button {
    padding: 10px;
    margin: 10px;
}